<h2>Show Buyer</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @buyer.name %>
  </li>

</ul>

<span><%= link "Back", to: buyer_path(@conn, :index), class: "btn btn-sm btn-primary" %></span>
<span><%= link "Edit", to: buyer_path(@conn, :edit, @buyer), class: "btn btn-sm btn-default" %></span>
