<h2><%= gettext "Edit Object" %></h2>

<%= render "form.html", Map.put(assigns, :action, object_path(@conn, :update, @object)) %>

<span><%= link gettext("Back"), to: object_path(@conn, :index), class: "btn btn-default" %></span>
